{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />
    <link rel="stylesheet" href={% static "Map/css/style_map.css" %}>
    <link rel="stylesheet" href={% static "Map/css/style.css" %}>
</head>
<body>
    <header>
        <nav>
            <a href={% url "home" %}><img src="" alt="LOGO" class="LOGO"></a>
            <a href="#">A PROPOS</a>
            <a href="#">CONTACT</a>
        </nav>
    </header>
    <main>
        <aside>
            <div id="filter_block">
                <div id="title_block">
                    <h1>Filtre</h1>
                    <img src={% static "Map/img/icons8-filtre-100.png" %} alt="filter">
                </div>
                <div id="filter_content">
                    <div class="filter">
                        <label for="region_filter">Region</label>
                        <select name="region_filter" id="region_filter">
                            <option value="", disabled selected="true">Sélectionner</option>
                            {%for region in council_region%}
                            <option value="{{region}}">{{region}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter">
                        <label for="departement_filter">departement</label>
                        <select name="departement_filter" id="departement_filter">
                            <option value="" disabled selected="true">Sélectionner</option>
                            {% for departement in council_departement %}
                            <option value="{{departement}}">{{departement}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter">
                        <label for="council_filter">Commune</label>
                        <select name="council_filter" id="council_filter">
                            <option value="", disabled selected="true">Sélectionner</option>
                            {% for council in council_name %}
                            <option value="{{council}}">{{council}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id="reset">Réinitialiser</button>
                </div>
            </div>
            <div id="fiche_block">
                <h1>Fiches Signalitique</h1>
                <div id="fiche_content">
                </div>
                <div id="button">
                <button id="download">Télécharger</button>
                </div>
            </div>
        </aside>
       <div id="map"></div> 
    </main>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script>
        const urlBorneBase = "{% static 'Map/img/BORNE_DE_BASE.png' %}"
        const urlBorneRef = "{% static 'Map/img/BORNE_DE_REFERENCE.png' %}"
        const urlbordercouncil = "{% static 'Map/img/fichier_3.png' %}"
        const urldeleteicon = "{% static 'Map/img/annuler.png'%}"
    </script>
    <script src={% static "Map/js/main.js" %}> </script>
    </body>
</html>
